fastapi
uvicorn[standard]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
alembic
httpx
pytest
langchain
langchain-openai
beautifulsoup4
markdown
langchain-community
langchain-google-genai
langchain-classic
